/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.wb-bannerads-rotator.rich-contentwbads {
  padding: 10px 15px;
  border-radius: 0 !important;
  line-height: normal;
}
#rich-ads {
  display: none;
}
